<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome template</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

<div id="viz"></div>

<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
<script src="javascripts/code.js"></script>

</body>
</html>


